# Environment
.env
.env.local
.env.*.local

# Backend
backend/target/
backend/project/target/
backend/project/project/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.quasar/

# OS
.DS_Store
